body {
  padding: 0 0 0 0;
  margin: 0;
  background-color: white;
  font-size: 14px;
  font-family: cursive;
}

h1 {
  margin: 0;
  padding: 0;
}

.container {
  background-color: grey;
}

.navcontainer {
  background-color: #3E3E3E
  height: 40px;
  border-bottom: 1px solid #fff;
  padding: 10px;
}

.mainnav {
  width: 100%;
  float: left;
  width: 20%;
  margin-left: 79%;
  margin-right: 1%;
  font-size: 1.5em;
}

.mainnav ul {
  list-style: none;
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.mainnav li {
  list-style: none;
  list-style-type: none;
  float: left;
  margin: 0;
  padding: 0;
}

.mainnav a {
  color: white;
  text-decoration: none;
  display: block;
  padding: 5px 10px;
}

.mainnav a:hover {
  background: black;
}

.hero {
  height: 300px;
  background: #B0B0B0;
  background-image: url("roses.jpg");
  background-repeat: no-repeat;
  background-size: cover;
}

.herotext {
  padding-top: 70px;
  text-align: center;
  font-size: 5em;
  color: white;
  font-style: italic;
  font-weight: 100;
}

.maincontent {
  width: 80%;
  margin-left: 10%;
  margin-right: 10%;
  clear: both;
}

.maincontent h1 {
  width: 50%;
  margin-top: 50px;
  margin-left: 10px;
  margin-right: 10px;
}
.maincontent h2 {}
.maincontent p {
  font-size: 1.5em;
  line-height: 1.5;
}

.blockrow {
  margin-left: auto;
  margin-right: auto;
  width: 80%;
  padding: 10px;
}

.footer {
  clear: both;
  padding: 10px;
  margin-bottom: 10px;
  width: 100%;
  text-align: center;
  background-color: white;
}

.fa {
padding:20px;
font-size: 20px;
}

.btn-twitter {
background-color: #00acee;
border-color: #009ad5;
color: white;
}

.fa-facebook {
background-color: #3B5998;
border-color: #314776;
color: white;
}

.btn-pinterest {
background-color: #b62f26;
border-color: #b62f26;
color: white;
}
